<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
  	<param-name>newsImageUpload</param-name>
  	<param-value>E:\SW\Development\repo\cokoliv\cokoliv\src\main\webapp\img\upload\news\</param-value>
  	<description>Adresar pro upload obrazku</description>
  </context-param>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>UserServlet</display-name>
  	<description>Servlet pro login uzivatele</description>
  	<servlet-class>cokoliv.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserOperationServlet</servlet-name>
  	<display-name>UserOperationServlet</display-name>
  	<servlet-class>cokoliv.servlets.UserOperationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<servlet-class>cokoliv.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewsServlet</servlet-name>
  	<display-name>NewsServlet</display-name>
  	<servlet-class>cokoliv.servlets.NewsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadImageServlet</servlet-name>
  	<display-name>UploadImageServlet</display-name>
  	<description>Servlet pro upload obrazku na server</description>
  	<servlet-class>cokoliv.servlets.UploadImageServlet</servlet-class>
  </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <display-name>FileUploadServlet</display-name>
        <description>Servlet pro upload souboru</description>
        <servlet-class>cokoliv.servlets.FileUploadServlet</servlet-class>
    </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserOperationServlet</servlet-name>
  	<url-pattern>/UserOperationServlet</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewsServlet</servlet-name>
  	<url-pattern>/NewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadImageServlet</servlet-name>
  	<url-pattern>/UploadImageServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>  

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
